.results {
  overflow: auto;
}

.results > * {
  padding-left: 5vh;
  font-size: 2vh;
}

.results > Button {
  font-size: 3vh;
}

li {
  margin-bottom: 0.7vw;
}

.result-data > * {
  display: flex;
  align-items: center;
}

.MuiButton-root {
  padding: 0.6vw 0.8vw !important;
  font-size: 0.6vw !important;
  border-radius: 0.6vw !important;
  min-width: 1vw;
}
