.podium {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 20px;
}

.podium > * {
  background-color: #e1cc14;
  margin: 0 auto;
}

.search-form {
  display: flex;
  align-items: center;
  width: 90%;
}

.search-form > label {
  font-size: 15px;
  font-weight: bold;
}

.search-form > input {
  border: 1px solid black;
  width: 90%;
  height: 50px;
  font-size: 200%;
}

.podium-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 65%;
}

.podium-bar-base {
  width: 35%;
  height: 8%;
}

.podium-stand {
  width: 20%;
  height: 50%;
}

.podium-base-support {
  width: 35%;
  height: 8%;
}

.podium-base {
  width: 50%;
  height: 10%;
}
