.podium {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.podium > * {
  background-color: #e1cc14;
  margin: 0 auto;
}

.search-form {
  display: flex;
  align-items: center;
  width: 90%;
}

.search-form > label {
  font-size: 1vw;
  font-weight: bold;
}

.search-form > input {
  outline: 0.1vw solid black;
  width: 90%;
  height: 2vw;
  font-size: 2vw;
}

.podium-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 65%;
}

.podium-bar-base {
  width: 35%;
  height: 8%;
}

.podium-stand {
  width: 13%;
  height: 55%;
}

.podium-base-support {
  width: 35%;
  height: 8%;
}

.podium-base {
  width: 50%;
  height: 10%;
}
