.shoppies {
  display: flex;
  flex-direction: column;
}

.shoppies-screen {
  height: 50%;
  width: calc(100%);
  border: 20px solid black;
  z-index: -1;
}

.shoppies-stage {
  display: flex;
  width: 100%;
}

.shoppies-stage > * {
  border: 1px solid black;
  width: 50%;
}

.shoppies-podium {
}
