.shoppies {
  display: flex;
  flex-direction: column;
}

.shoppies-screen {
  min-height: 50vh;
  z-index: -1;
}

.shoppies-screen-content {
  border: 25px solid black;
}

.shoppies-stage {
  display: flex;
  width: 100%;
  min-height: 50vh;
  padding-top: 15px;
}

.shoppies-stage > * {
  width: 50%;
}
