.shoppies {
  display: flex;
  flex-direction: column;
}

.shoppies-screen-content {
  border: 25px solid black;
}

.shoppies-stage {
  display: flex;
  width: 100%;
  height: 44vh;
}

.shoppies-stage > * {
  width: 50%;
  outline: 1px solid black;
}
